@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Roboto", sans-serif;
    --animate-fade-in-y: fade-in-y 0.3s ease-in-out forwards;
    --animate-fade-in-x: fade-in-x 0.3s ease-in-out forwards;

    @keyframes fade-in-y {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        50% {
            opacity: 0.15;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fade-in-x {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        50% {
            opacity: 0.15;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
